.helptext,
fieldset>ul {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #aaadab;
    font-size: 12px;
}

.column-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.row-container {
    display: flex;
    flex-direction: row;
}

.row-container-center {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: center;
}

#id_skills {
    max-height: 15vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

body {
    padding: 25px;
}

button {
    font-size: 14px;
    padding: 12px 28px;
    border-radius: 2px;
    border: 2px solid black;
    cursor: pointer;
    transition-duration: 0.4s;
}

button:hover {
    background-color: #aaadab;
}

.errorlist {
    color: red;
}

.boldLabels>label {
    font-weight: bold;
    padding-top: 10px;
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px;
    padding: 16px 16px;
}


/* On mouse-over, add a deeper shadow */

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}