<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
    <head>
        <meta name="keywords"
              content="developers, software enginnering, outsourcing, contrato, pj, pessoa físcia"/>
        <meta name="description" content=""/>
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="{% static 'devs/stylesheet/css.css' %}"/>
        <link href='https://fonts.googleapis.com/css?family=Roboto'
              rel='stylesheet'/>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
              rel="stylesheet"/>
        <title>Cadastro de Desenvolvedor</title>
    </head>
    <body>
        <div class="signup-container container-column card">
            <form action="?" method="post">
                {% csrf_token %}
                <div>
                    <div>
                        <h1>Cadastro de Desenvolvedor</h1>
                        <fieldset>
                            <legend>
                                Informação de Login
                            </legend>
                            {% for field in userform %}
                                {{ field.errors }}
                                {{ field.label_tag }}
                                {{ field }}
                                {% if field.help_text %}
                                    <p class="helptext">
                                        {{ field.help_text|safe }}
                                    </p>
                                {% endif %}
                            {% endfor %}
                        </fieldset>
                        <fieldset>
                            <legend>
                                Informações Adicionais
                            </legend>
                            <div class="column-container boldLabels">
                                {% for field in devform %}
                                    {{ field.errors }}
                                    {{ field.label_tag }}
                                    <div class="row-container">{{ field }}</div>
                                    {% if field.help_text %}
                                        <p class="helptext">
                                            {{ field.help_text|safe }}
                                        </p>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </fieldset>
                    </div>
                </div>
                <div class="row-container-center">
                    <button type="submit">Cadastrar</button>
                </div>
            </form>
        </div>
    </body>
</html>
